NEXTAUTH_URL=http://localhost:3000
SECRET=super-secret-key

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=

DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/plex-us

DB_USER=username
DB_PASS=password