# MAC OS
.DS_Store

# Node/NPM
node_modules

# Project
client/dist/bundle.js
.env
.env.build

# next.js build output
.next
/.next/
/out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dist folder
dist

# ENV
.env.local
pg-hba.conf

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# misc
*.pem

# production
/build

# testing
/coverage

# dependencies
/.pnp
.pnp.js

# graphql generator
./src/generated/graphql.tsx

# My notes
./NOTES.md