NEXTAUTH_URL=http://localhost:3000
SECRET=YOUR-SUPER-SECRET

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=

DATABASE=plex-us

DB_USER=password
DB_PASS=username

DATABASE_URL=postgres://username:passwordgres@127.0.0.1:5432/plex-us
